@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<form method="post">
    <h2>Login prueba</h2>
    @Html.AntiForgeryToken()
    <div asp-if="Model.Errors.Count > 0" name="error" class="alert alert-danger">@string.Join("\n", Model.Errors)</div>
    <div class="form-group">
        <label for="username">Correo electrónico:</label>
        <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Ingresa Correo Electrónico">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>
    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
    <button type="submit" class="btn btn-primary mt-2">Iniciar Sesión</button>
</form>
