@{
    ViewData["Title"] = "Terapias";
}
<h1>Terapias</h1>

<div id="message"></div>

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal" data-bs-id="">Crear <i class="bi bi-plus-lg"></i></button>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col" class="text-center">Activa</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>

<div class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalMessage"></div>
                <form id="modalForm">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="Type">Tipo:</label>
                        <select class="form-select" id="Type" name="Type" required aria-describedby="Type" placeholder="Selecciona el tipo de terapia"></select>
                    </div>
                    <div class="form-group">
                        <label for="Name">Nombre:</label>
                        <input type="text" class="form-control" id="Name" required name="Name" aria-describedby="name" placeholder="Ingresa el nombre">
                    </div>
                    <div class="form-group">
                        <label for="Price">Precio:</label>
                        <div class="input-group">
                            <span class="input-group-text">Q.</span>
                            <input type="number" class="form-control" id="Price" required name="Price" aria-describedby="Price" placeholder="Ingresa el costo">
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Active" required name="Active" aria-describedby="Active">
                        <label class="form-check-label" for="Active">Activa</label>
                    </div>
                    <input type="hidden" id="Id" name="Id" value="" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmButton" onclick="SendData()" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Eliminar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="deleteModalMessage"></div>
                ¿Está seguro de eliminar el registro <strong id="descriptionText"></strong>?
                <input type="hidden" id="DeleteId" name="DeleteId" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="confirmButton" onclick="DeleteData()" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var formModal = document.getElementById('formModal');
        formModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;
            var id = button.getAttribute('data-bs-id');
            $('#modalMessage').html('');
            var typeInput = formModal.querySelector('#Type');
            var nameInput = formModal.querySelector('#Name');
            var priceInput = formModal.querySelector('#Price');
            var idInput = formModal.querySelector('#Id');

            if (id) {
                $('#confirmButton').html('Guardar');
                $('#modalTitle').html('Modificar');

                $.ajax({
                    url: '@Api/therapy/get/' + id,
                    type: 'GET',
                })
                    .done(function (data) {
                        nameInput.value = data.name;
                        priceInput.value = data.price;
                        $('#Active').prop('checked', data.active);
                        $('#Active').prop('disabled', false);
                        idInput.value = data.id;

                        LoadTypes(data.therapyTypeId);
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        $('#modalMessage').html(GetAlertHtml(
                            'danger',
                            'Se produjo un error al obtener los datos',
                            'Oops!',
                            errorThrown,
                            false
                        ));
                    });
            }
            else {
                $('#confirmButton').html('Crear');
                $('#modalTitle').html('Crear');
                nameInput.value = '';
                priceInput.value = '';
                idInput.value = '';
                $('#Active').prop('checked', true);
                $('#Active').prop('disabled', true);

                LoadTypes(typeInput.value);
            }
        });

        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;
            var id = button.getAttribute('data-bs-id');
            var name = button.getAttribute('data-bs-name');
            $('#deleteModalMessage').html('');
            var idInput = deleteModal.querySelector('#DeleteId');
            idInput.value = id;
            $('#descriptionText').html(name);
        });

        function SendData() {
            var typeInput = formModal.querySelector('#Type');
            var nameInput = formModal.querySelector('#Name');
            var priceInput = formModal.querySelector('#Price');
            var activeInput = formModal.querySelector('#Active');
            var idInput = formModal.querySelector('#Id');
            var addAction = !idInput.value;
            var endpointName = addAction ? 'Add' : 'Update';
            var dataObject = {
                id: idInput.value,
                therapyTypeId: typeInput.value,
                name: nameInput.value,
                price: priceInput.value,
                active: activeInput.checked,
                user: '@(User.UserName)'
            };

            $.ajax({
                url: '@Api/therapy/' + endpointName,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataObject),
            })
                .done(function () {
                    $('#message').html(GetAlertHtml(
                        'success',
                        `Se ${(addAction ? `creó` : `modificó`)} exitósamente el registro`,
                    ));
                    LoadData();
                    $('#formModal').modal('hide');
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    var errorMessage = '';
                    if (jqXHR.status === 422) {
                        errorMessage = jqXHR.responseJSON.join('<br/>');
                    }
                    else {
                        errorMessage = jqXHR.responseText;
                    }

                    $('#modalMessage').html(GetAlertHtml(
                        'danger',
                        'Se produjo un error al realizar la operación',
                        'Oops!',
                        errorMessage
                    ));
                });
        }

        function DeleteData() {
            var idInput = deleteModal.querySelector('#DeleteId');

            $.ajax({
                url: '@Api/therapy/delete?id=' + idInput.value,
                type: 'POST',
            })
                .done(function () {
                    $('#message').html(GetAlertHtml(
                        'success',
                        `El registro se eliminó exitósamente`,
                    ));
                    LoadData();
                    $('#deleteModal').modal('hide');
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    var errorMessage = '';
                    if (jqXHR.status === 422) {
                        errorMessage = jqXHR.responseJSON.join('<br/>');
                    }
                    else {
                        errorMessage = jqXHR.responseText;
                    }

                    $('#deleteModalMessage').html(GetAlertHtml(
                        'danger',
                        'Se produjo un error al realizar la operación',
                        'Oops!',
                        errorMessage
                    ));
                });
        }

        function LoadTypes(id) {
            $('#Type').html('');

            $.ajax({
                url: '@Api/therapytype/getall',
                type: 'GET',
            })
                .done(function (data) {
                    data.forEach((element) => {
                        $('#Type').append(`
<option ${(element.id == id ? `selected` : ``)} value="${element.id}">${element.name}</option>
                `);
                    });
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    $('#modalMessage').html(GetAlertHtml(
                        'danger',
                        'Se produjo un error al obtener los datos',
                        'Oops!',
                        errorThrown
                    ));
                });
        }

        function LoadData() {
            $('#tableBody').html('');
            $.ajax({
                url: '@Api/therapy/getall',
                type: 'GET',
            })
                .done(function (data) {
                    data.forEach((element) => {
                        $('#tableBody').append(`
<tr>
    <td>${element.therapyTypeName}</td>
    <td>${element.name}</td>
    <td>Q ${element.price}</td>
    <td class="text-center">${(element.active ? `<i class="bi bi-check-circle-fill text-success"></i>`: ``)}</td>
    <td>
        <button class="btn btn-secondary mx-2" data-bs-toggle="modal" data-bs-target="#formModal" data-bs-id="${element.id}"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="${element.id}" data-bs-name="${element.name}"><i class="bi bi-trash3-fill"></i></button>
        <a class="btn btn-dark" href="/Therapy/Modules/${element.id}">Módulos</a>
        <a class="btn btn-dark" href="/Therapy/Schedules/${element.id}">Horarios</a>
    </td>
</tr>
                `);
                    });
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    $('#message').html(GetAlertHtml(
                        'danger',
                        'Se produjo un error al obtener los datos',
                        'Oops!',
                        errorThrown
                    ));
                });
        }

        LoadData();
    </script>
}