@model int
@{
    ViewData["Title"] = "Contactos Paciente";
}

<h1><a class="link-secondary" asp-controller="Student" asp-action="Index"><i class="bi bi-arrow-left"></i></a> Contactos Paciente - <span id="StudentNameTitle"></span></h1>

<div id="message"></div>

<div id="content">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal" data-bs-id="">Crear <i class="bi bi-plus-lg"></i></button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Parentesco</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody id="tableBody">
        </tbody>
    </table>

    <div class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="modalMessage"></div>
                    <form id="modalForm">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label for="FirstName">Nombre:</label>
                            <input type="text" class="form-control" id="FirstName" required name="FirstName" aria-describedby="FirstName" placeholder="Ingresa el nombre">
                        </div>
                        <div class="form-group">
                            <label for="LastName">Apellido:</label>
                            <input type="text" class="form-control" id="LastName" required name="LastName" aria-describedby="LastName" placeholder="Ingresa el apellido">
                        </div>
                        <div class="form-group">
                            <label for="Email">Correo electrónico:</label>
                            <input type="email" class="form-control" id="Email" required name="Email" aria-describedby="Email" placeholder="Ingresa el correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="Phone">Teléfono:</label>
                            <input type="text" class="form-control" id="Phone" required name="Phone" aria-describedby="Phone" placeholder="Ingresa el teléfono">
                        </div>
                        <div class="form-group">
                            <label for="Relationship">Parentesco:</label>
                            <input type="text" class="form-control" id="Relationship" required name="Relationship" aria-describedby="Relationship" placeholder="Ingresa el parentesco">
                        </div>
                        <input type="hidden" id="Id" name="Id" value="" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="confirmButton" onclick="SendData()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eliminar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="deleteModalMessage"></div>
                    ¿Está seguro de eliminar el registro <strong id="descriptionText"></strong>?
                    <input type="hidden" id="DeleteId" name="DeleteId" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" id="confirmButton" onclick="DeleteData()" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        var formModal = document.getElementById('formModal');
        formModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;
            var id = button.getAttribute('data-bs-id');
            $('#modalMessage').html('');
            var firstNameInput = formModal.querySelector('#FirstName');
            var lastNameInput = formModal.querySelector('#LastName');
            var emailInput = formModal.querySelector('#Email');
            var phoneInput = formModal.querySelector('#Phone');
            var relationshipInput = formModal.querySelector('#Relationship');
            var idInput = formModal.querySelector('#Id');

            if (id) {
                $('#confirmButton').html('Guardar');
                $('#modalTitle').html('Modificar');

                $.ajax({
                    url: '@Api/studentcontact/get/' + id,
                    type: 'GET',
                })
                    .done(function (data) {
                        firstNameInput.value = data.firstName;
                        lastNameInput.value = data.lastName;
                        emailInput.value = data.email;
                        phoneInput.value = data.phone;
                        relationshipInput.value = data.relationship;
                        idInput.value = data.id;
                    })
                    .fail(function (jqXHR, textStatus, errorThrown) {
                        $('#modalMessage').html(GetAlertHtml(
                            'danger',
                            'Se produjo un error al obtener los datos',
                            'Oops!',
                            errorThrown,
                            false
                        ));
                    });
            }
            else {
                $('#confirmButton').html('Crear');
                $('#modalTitle').html('Crear');
                firstNameInput.value = '';
                lastNameInput.value = '';
                emailInput.value = '';
                phoneInput.value = '';
                relationshipInput.value = '';
                idInput.value = '';
            }
        });

        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget;
            var id = button.getAttribute('data-bs-id');
            var name = button.getAttribute('data-bs-name');
            $('#deleteModalMessage').html('');
            var idInput = deleteModal.querySelector('#DeleteId');
            idInput.value = id;
            $('#descriptionText').html(name);
        });

        function SendData() {
            var firstNameInput = formModal.querySelector('#FirstName');
            var lastNameInput = formModal.querySelector('#LastName');
            var emailInput = formModal.querySelector('#Email');
            var phoneInput = formModal.querySelector('#Phone');
            var relationshipInput = formModal.querySelector('#Relationship');
            var idInput = formModal.querySelector('#Id');
            var addAction = !idInput.value;
            var endpointName = addAction ? 'Add' : 'Update';
            var dataObject = {
                id: idInput.value,
                studentId: @Model,
                firstName: firstNameInput.value,
                lastName: lastNameInput.value,
                email: emailInput.value,
                phone: phoneInput.value,
                relationship: relationshipInput.value,
                user: '@(User.UserName)'
            };

            $.ajax({
                url: '@Api/studentcontact/' + endpointName,
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataObject),
            })
                .done(function () {
                    $('#message').html(GetAlertHtml(
                        'success',
                        `Se ${(addAction ? `creó` : `modificó`)} exitósamente el registro`,
                    ));
                    LoadData();
                    $('#formModal').modal('hide');
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    var errorMessage = '';
                    if (jqXHR.status === 422) {
                        errorMessage = jqXHR.responseJSON.join('<br/>');
                    }
                    else {
                        errorMessage = jqXHR.responseText;
                    }

                    $('#modalMessage').html(GetAlertHtml(
                        'danger',
                        'Se produjo un error al realizar la operación',
                        'Oops!',
                        errorMessage
                    ));
                });
        }

        function DeleteData() {
            var idInput = deleteModal.querySelector('#DeleteId');

            $.ajax({
                url: '@Api/studentcontact/delete?id=' + idInput.value,
                type: 'POST',
            })
                .done(function () {
                    $('#message').html(GetAlertHtml(
                        'success',
                        `El registro se eliminó exitósamente`,
                    ));
                    LoadData();
                    $('#deleteModal').modal('hide');
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    var errorMessage = '';
                    if (jqXHR.status === 422) {
                        errorMessage = jqXHR.responseJSON.join('<br/>');
                    }
                    else {
                        errorMessage = jqXHR.responseText;
                    }

                    $('#deleteModalMessage').html(GetAlertHtml(
                        'danger',
                        'Se produjo un error al realizar la operación',
                        'Oops!',
                        errorMessage
                    ));
                });
        }

        function LoadStudentData() {
            $.ajax({
                url: '@Api/student/get/@Model',
                type: 'GET',
            })
                .done(function (data) {
                    if (data) {
                        $('#StudentNameTitle').html(data.fullName);
                        LoadData();
                    }
                    else {
                        $('#content').html('<hr/><h5>El estudiante no existe</h5>');
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 404) {
                        $('#content').html('<hr/><h5>El estudiante no existe</h5>');
                    }
                    else {
                        $('#content').html('');
                        $('#message').html(GetAlertHtml(
                            'danger',
                            'Se produjo un error al obtener los datos',
                            'Oops!',
                            errorThrown
                        ));
                    }
                });
        }

        function LoadData() {
            $('#tableBody').html('');
            $.ajax({
                url: '@Api/studentcontact/getall/@Model',
                type: 'GET',
            })
                .done(function (data) {
                    data.forEach((element) => {
                        $('#tableBody').append(`
<tr>
    <td>${element.fullName}</td>
    <td>${element.email}</td>
    <td>${element.phone}</td>
    <td>${element.relationship}</td>
    <td>
        <button class="btn btn-secondary mx-2" data-bs-toggle="modal" data-bs-target="#formModal" data-bs-id="${element.id}"><i class="bi bi-pencil-square"></i></button>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="${element.id}" data-bs-name="${element.fullName}"><i class="bi bi-trash3-fill"></i></button>
    </td>
</tr>
                `);
                    });
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                    $('#message').html(GetAlertHtml(
                        'danger',
                        'Se produjo un error al obtener los datos',
                        'Oops!',
                        errorThrown
                    ));
                });
        }

        LoadStudentData();
    </script>
}